@import "tailwindcss";

.slick-prev:before{
    display: none;
}

.slick-next:before{
    display: none;
}

.feature_product_slide.slick-slider .slick-track {
  @apply flex gap-1;
}

.springGap.slick-slider .slick-track {
  @apply flex gap-6;
}

input[type=range]::-webkit-slider-thumb{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FF624C;
  pointer-events: auto;
  cursor: pointer;
  appearance: none;
}

input[type=range]::-moz-range-thumb{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FF624C;
  pointer-events: auto;
  cursor: pointer;
  appearance: none;
}

.customcheck{
  width: 16px;
  height: 16px;
  border: 1px solid #303030;
  border-radius: 2px;
}

.customcheck span{
  opacity: 0;
}

.targetinput:checked + .customcheck{
  background: #FF624C;
  border-color: #FF624C
}

.targetinput:checked + .customcheck span{
  opacity: 1;
}

.numbers{
  position: absolute;
  top: 82px;
  left: 8px;
}